* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.page-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.auth-card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  background-color: #667eea;
}

.register-btn {
  background-color: #48bb78;
}

.link-text {
  text-align: center;
  margin-top: 15px;
  color: #667eea;
  cursor: pointer;
}
